doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        link(rel='stylesheet' type='text/css' href='/css/style.min.css')
    body
        div
            img.logo(src='/img/header.svg' alt='Logotype')
            .mini-margin.centered.float-right.w21em
                .bold
                    p АНО СПН «ЗДОРОВЫЙ ВЫБОР»
                    p Раменское
                p ИНН 5040146083, ОГРН 1175000000086
                p Раменское, д. Клешова, ул. Красная, д. 69
                p тел. 8 (915) 115-56-86
            .clear
        .underlined
            | исх №0507/02 от 16.07.2018
        .mini-margin
            div
            .float-right.to
                p 143500, г. Истра, ул. Советская, д. 7а

                p= whom_position
                p= whom_name
        .clear
        main
            .centered
                h3= header
            p
                | Ваше предприятие - одно из крупнейших в нашем регионе, и Вы, как его руководитель, входите в деловую элиту города Истра. Ваше предприятие также значится в списке социально ответственных компаний.
            p
                | По этой причине обращаюсь к Вам от лица Благотворительного фонда по формированию здорового образа жизни «Здоровый Выбор». Фонд является некоммерческой организацией и с 2004 года занимается реабилитацией больных наркоманией и алкоголизмом. За это время в фонд обратились за помощью около 7 тыс. человек, образовано и восстановлено около 300 семейных пар, рождено более 200 здоровых детей. Фонд отмечен различными наградами и благодарственными письмами.
            p
                | Один из филиалов фонда находится в г. Истра, и имеет на балансе один центр реабилитации и один центр ресоциализации, в которых проходит программу около 50 человек. Для обеспечения жизнедеятельности людей на центре требуются услуги вашего предприятия, которых недостаточно у фонда.
            p
                | Прошу Вас оказать благотворительную помощь в виде продукции, которую реализует Ваша компания.
            p
                | Со своей стороны, Фонд с радостью опубликует информацию о Вашей компании на основном сайте «Здоровый Выбор» (в разделе «Благотворители»), разместит наружную рекламу (роллапы, баннеры, информационные стенды) Вашей компании на массовых мероприятиях «Здоровый Выбор» (терапевтические лагеря, концерты и др.), а также
                | рассмотрит другие предложенные Вами формы сотрудничества.
        .sign
            .float-left
                .bottom Руководитель АНО СПН «ЗДОРОВЫЙ ВЫБОР»
            img.stamp.float-right(src='/img/stamp.jpg' alt='stamp')
